<div class="centrado">
  <div class="card" style="width: 32rem">
    <div class="card-body">
      <h1 class="texto-centrado">Login</h1>
      <form>
        <div class="mb-3 campo">
          <input
            type="email"
            class="form-control"
            placeholder="Correo Electronico"
          />
          <i class="fa-solid fa-envelope icono"></i>
        </div>

        <div class="mb-3 campo">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
          />
          <i class="fa-solid fa-key icono"></i>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn boton btn-block" routerLink="/carga">
            Login
          </button>
        </div>

        <p class="text-center pt-3">
          Al registrate, aceptas nuestras Condiciones de uso y Política de
          privacidad.
        </p>

        <p class="text-center">
          ¿No tienes una cuenta?
          <a type="button" class="link" routerLink="/registro">Registrate</a>
        </p>
      </form>
    </div>
  </div>
</div>
